.cartMainDiv1 {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  background-color: rgb(254 215 170);
}
.cartMainDiv11 {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartMainDiv12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartChildDiv12 {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
}
.prodImg {
  width: 70px;
  height: 70px;
}
.tableDiv {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
