.homeMainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.boy {
  display: flex;
}
.boyImage {
  width: 400px;
}
.orderParagraph {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 24px;
}
.word {
  font-size: 24px;
  font-weight: 800;
  color: red;
}
.doorTitle {
  font-size: 20px;
  font-weight: 700;
}
