.prodImg {
  margin: 20px;
  height: 68px;
  width: 50px;
  object-fit: contain;
  background: none;
  mix-blend-mode: multiply;
}
.cartItems {
  background-color: #d1d8c5;
  margin: 12px;
  border-radius: 8px;
  border: 2px solid #e88d67;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
.productValue {
  color: red;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.prodPrice {
  margin-top: 12px;
  color: #ee4e4e;
}
.prodTitle {
  color: #ff7d29;
}
.cartMainDivP {
}
.productIcons {
  align-items: center;
  height: 0px;
  display: flex;
  margin-left: 16px;
  margin-right: 12px;
  cursor: pointer;
  justify-content: space-evenly;
}
.circleIcon {
  height: 26px;
  width: 26px;
}
