.cartMainDiv {
  display: flex;
  align-items: self-start;
  padding: 12px;
  margin-top: 6px;
}
.bagIcon {
  font-size: 25px;
  margin-right: 12px;
  margin-top: 12px;
  cursor: pointer;
}
.cartOpen {
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background-color: #fff9d0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  z-index: 88;
}
.cartClose {
  display: none;
}
.outlineIcon {
  font-size: 27px;
  position: absolute;
  right: 12px;
  top: 24px;
  cursor: pointer;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
