.navbarMainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.linktag {
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.linktag:hover {
  color: #c738bd;
}
